[Unit]
Description=RPi Power Control Daemon
After=syslog.target

[Service]
User=root
Group=root

Type=simple
ExecStart=/root/x735pwr.sh
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target